.landing-section {
  width: 100%;
  height: 720px;
  background-color: #1AC073;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left {
  width: 534px;
  height: 317px;
  padding-left: 133px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  margin-top: -60px;
}

.hero-left h1 {
  font-family: 'Roboto', sans-serif;
  width: 534px;
  height: 147px;
  font-size: 70px;
  font-weight: 400;
  color: white;
  margin: 0;
    transform: translateY(-3px);
}

.hero-left p {
  font-family: 'Roboto', sans-serif;
  width: 441px;
  height: 80px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: white;
  margin: 0;
}

.search-container {
  width: 100%;
  max-width: 398px;
  height: 90px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  position: relative;
  top: -1.1px;
}

.search-input {
  flex: 1;
  border: none;
  padding: 20px 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: -0.018em;
  line-height: 20px;
  color: #929292;
  outline: none;
}

.search-button {
  width: 112px;
  background-color: #F3BA00;
  border: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.012em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 19px 29px;
  cursor: pointer;
}

 .hero-img {
  width: 100%;
  height: 525px;
  margin-top: 123px; 
  margin-left: 95px;
}

@media (max-width: 900px) {
  .landing-section {
    flex-direction: column;
    height: auto;
    padding: 32px 0;
  }

  .hero-left {
    width: 100%;
    padding-left: 0;
    align-items: center;
    text-align: center;
  }

  .hero-left h1 {
    font-size: 38px;
    width: 100%;
    height: auto;
  }

  .hero-left p {
    width: 100%;
    font-size: 15px;
    height: auto;
  }

  .search-container {
    max-width: 100%;
    width: 90vw;
  }

  .hero-right .hero-img {
    max-width: 90vw;
    width: 100%;
    margin: 0 auto;
  }
}