@import url('./reset.css');
@import url('./header.css');
@import url('./landing.css');
@import url('./kitchen.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./contact.css');
@import url('./service.css');

html,
body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: 'Open Sans', Arial, sans-serif;
    overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

@media (max-width: 600px) {
    .page-container {
        padding: 0 8px;
    }
}

@media (max-width: 480px) {

    html,
    body {
        font-size: 15px;
    }

    .page-container {
        padding: 0 2vw;
    }
}

.carousel-card {
    position: relative;
}

.carousel-card .offer-badge {
    position: absolute;
    width: 32px;
    height: 30px;
    background: #F3BA00;
    color: #101115;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.012em;
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 2;
    top: 0;
    left: 0;
}